.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form input {
width:800px;
height:20px;
margin: 30px;


}
.submit {
  width: 100px;
  align-items: center;
}
